// @import url('../../../App.css');

body {
    --react-select-primary: var(--accent);
    --react-select-primary25: var(--light);

    // sel-imgw: 2em;
    // sel-imgw: 23px;
    --sel-imgw: 1.43em;
}

// div.sel-container {
//     transition: none;
// }

img.sel-preview-img {
    height: var(--sel-imgw);
    width: var(--sel-imgw);
    min-height: var(--sel-imgw);
    min-width: var(--sel-imgw);
    aspect-ratio: 1;
    // padding-left:4px;
    overflow: hidden;
}

div.sel__single-value > div.sel-option-with-preview > img.sel-preview-img {
    // paddding-left:6px;
    padding-left: 0px;
}

div.sel__value-container:has(img.sel-preview-img) {
    padding-left: 0px;

    & > div.sel__input-container {
        // margin-left:2.7em;
        margin-left: calc(var(--sel-imgw) + 0.4em)
        // background-color:#cccc;
    }

}
div.sel__value-container:has(img.sel-preview-img:nth-of-type(2)) > div.sel__input-container {
    // if there's two preview images, multiply the imgw left margin by 2 to offset properly
    margin-left: min(40%, calc(var(--sel-imgw) * 2 + 0.4em))
}
div.sel__value-container:has(img.sel-preview-img:nth-of-type(3)) > div.sel__input-container {
    // if there's three preview images, multiply the imgw left margin by 3 to offset properly
    margin-left: min(40%, calc(var(--sel-imgw) * 3 + 0.4em))
}
// not going any farther with preview image count, as it might push the cursor too far to see (or always past the min cap)

div.sel-option-with-preview {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:has(> img.sel-preview-img) > span {
        padding-left: 0.4em;
    }
}

div.sel__option {
    padding: 2px;
}

div.sel__dropdown-indicator {
    height: 100%;
    padding: 0px 2px;
    background-color: #ddd;
    &, &:hover {
        color: #333;
    }

    & > svg {
        margin-top: auto;
        margin-bottom: auto;
        height: 1em;
        width: 20px;
    }
}

div.sel__control {
    // min-height: unset;
    min-height: 1em;
    // min-height: 2em;
    transition: none;
}
div.sel__control--is-focused {
  accent-color: var(--accent);
  box-shadow:0 0 0 2px var(--accent);
}
div.sel__control--is-disabled {
	background-color: var(--disabled-input-bg-color, rgba(255, 255, 255, 0.5));
	border-color: var(--disabled-input-border-color, rgb(180, 180, 180));

    & div.sel__dropdown-indicator {
        color: gray;
        color: GrayText; // this disabled text color setting comes from the modern-normalize.css
    }
}

div.sel__value-container {
    padding-top: 0px;
    padding-bottom: 0px;
    white-space: nowrap;
    padding-right: 2px;
}

div.sel__input-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.sel__menu-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

div.sel__menu {
    margin-top: 0px;
    margin-bottom: 0px;
}