body {
  background-color: #E1F0F5;
  background-image: url(./imgs/ThatOtherFish-scrots/NI-7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  --phse-warning-aware-color: #8bcff9;
}

.defaultblack {
  color: rgb(33, 37, 41);
}

.textgray {
  color: #6c757d;
}

.mono-text {
  font-family: Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
  color: black;
  font-weight: bold;
}

.inline-code {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #BCBEC0;
  padding: 2px;
  background-color: rgba(188, 190, 192, 0.6666666667);
  font: 12px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.h6 {
  font-weight: 600;
}

.filtertogray {
  /* specifically, #6c757d */
  /* https://isotropic.co/tool/hex-color-to-css-filter/ */
  filter: invert(47%) sepia(6%) saturate(636%) hue-rotate(167deg) brightness(94%) contrast(87%);
}

div.background-container {
  background-color: #E1F0F5;
  border-color: steelblue;
  border-radius: 0.2rem;
  border-width: 2px;
  border-style: solid;
  width: min(1100px, 92vw);
}

.save-data-val.unused {
  background-color: #e0e9ef;
  /* background-color: rgb(179, 205, 230); */
}

.save-data-val.warning {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: thistle;
  border: 1px solid steelblue;
}

.save-data-val {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: lightblue;
  border: 1px solid steelblue;
}

.save-data-descr {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  border: 1px solid steelblue;
}

.save-data-descr .d-parent-hover-block, .save-data-descr .d-parent-hover-inline {
  display: none;
}

.save-data-descr:hover .d-parent-hover-block {
  display: block;
}
.save-data-descr:hover .d-parent-hover-inline {
  display: inline;
}

.save-data-raw {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  border: 1px solid steelblue;
}

.save-data-accordion-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* !important beats bootstrap accordion button styling */
  background-color: var(--phse-warning-aware-color) !important;
  color: rgb(33, 37, 41);
  border: 1px solid steelblue;
  font-weight: 500;
}

.accordion-item {
  background-color: transparent;
  border: unset;
}

.accordion-button.collapsed::after {
  /* image from font awesome 4.x caret-right */
  background-image: url(./imgs/caret-right-solid.png);
  transform: rotate(0deg);
}

.accordion-button:not(.collapsed)::after {
  /* image from font awesome 4.x caret-right */
  background-image: url(./imgs/caret-right-solid.png);
  transform: rotate(90deg);
}

.accordion-button::after {
  order: -1;
  margin-left: 0;
  margin-right: 0.25em;
  /* width: 0.59rem; */
  height: 1.3rem;
  background-position: center;
  background-size: contain;
}

.accordion-button {
  padding-left: 0.5rem;
}

.accordion-item-hideable:has(> .accordion-collapse:empty) {
  display: none;
}

.accordion-item:has(> .accordion-collapse > .editor-row > .save-data-val.warning) {
  --phse-warning-aware-color: thistle;
}

/* override accordion header button (and its arrow) styling */
.accordion-button:focus {
  /* box-shadow: none; */
  outline: 0;
  /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); */
  border: 1px solid steelblue;
  /*important beats bootstrap accordion button styling*/
  background-color: color-mix(in srgb, var(--phse-warning-aware-color) 90%, black) !important;
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
  /* box-shadow: inherit; */
}

.accordion-button.collapsed {
  color: inherit;
  background-color: inherit;
  /* box-shadow: inherit; */
}

/* .accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */
.form-range::-moz-range-thumb, .form-range::-webkit-slider-thumb {
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

input[type=checkbox].switch-lg {
  height: 1.5em;
  width: 2.5em;
}
input[type=checkbox].switch-unset {
  background-position: center center;
}

.record-input {
  max-width: 14ch;
}

.hex-color-input {
  /* !important to beat css specificity from bootstrap */
  min-width: 10.4ch !important;
}

.ts-dropdown {
  min-width: 100%;
  width: -moz-max-content;
  width: max-content;
}

div.header-link-justify {
  display: flex;
  justify-content: space-between;
}

input.file-select {
  cursor: pointer;
  border-style: dashed;
  border-width: 2px;
}

.editor-row:hover {
  box-shadow: 0 0 0 0.25rem var(--bs-focus-ring-color);
  position: relative;
  z-index: auto;
}

.w-1 {
  width: 1% !important;
}

svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

ul.listicons {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

ul.listicons > li {
  position: relative;
}

span.listicons {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}/*# sourceMappingURL=editorstyle.css.map */