$bordercolor: steelblue;

// $bg_light: lightblue;
// $bg_unusedprop: rgb(183, 206, 228);
// // $bg_usedprop: lightskyblue;
// $bg_usedprop: lightblue;
// $bg_collapse: hsl(203, 90%, 65%);

$bg_light: #d1e8f0; // lightblue or #ADD8E6
$bg_unusedprop: rgb(200, 212, 223);
// $bg_usedprop: lightskyblue;
// $bg_usedprop: lightblue;
$bg_usedprop: lightblue; //#ADD8E6
$bg_warningprop: thistle; //#ADD8E6
$bg_collapse: hsl(203, 90%, 76%);
$defaultblack: rgb(33, 37, 41);
$textgray: #6c757d;


.defaultblack {
    color: $defaultblack;
}

.textgray {
    color: $textgray;
}

.w-1 {
    width: 1% !important;
}

.record-input {
    max-width: 14ch;
}
.hex-color-input {
    min-width: 10.4ch !important; // !important to beat css specificity from bootstrap
}
// .input-editors-row > .raw-input {
// }

// overriding TomSelect dropdown
.ts-dropdown {
    // keep dropdown from shrinking below the width of the select
    min-width: 100%;
    // allow dropdown to show long elements that may overflow the width of the select normally
    width: max-content;  // overrides default of 100%
}

body {
    /* color: lightblue; */
    background-color: $bg_light;
    /* background-image: url(./imgs/heistpic.png); */
    background-image: url(./imgs/ThatOtherFish-scrots/NI-7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.filtertogray {
    /* specifically, #6c757d */
    /* https://isotropic.co/tool/hex-color-to-css-filter/ */
    filter: invert(47%) sepia(6%) saturate(636%) hue-rotate(167deg) brightness(94%) contrast(87%)
}

// input[type="file"]::-webkit-file-upload-button {
//     vertical-align: middle;
// }

div.background-container {
    background-color: $bg_light;
    border-color: $bordercolor;
    border-radius: 0.2rem;
    border-width: 2px;
    border-style: solid;
    /* margin-left: max(1rem, 3.5vw);
    margin-right: max(1rem, 3.5vw); */
    /* max-width: fit-content; */
    /* max-width: 1140px; */
    /* width: min(1000px, 90vw); */
    width: min(1100px, 92vw);
}

div.header-link-justify {
    display: flex;
    justify-content: space-between;
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

ul.listicons {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}
ul.listicons>li {
    position: relative;
}
span.listicons {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

// override some bootstrap
.form-range {
    &::-moz-range-thumb, &::-webkit-slider-thumb {
        cursor: pointer;
    }
}
.form-check-input {
    cursor: pointer;
}
// add a .switch-lg class for the toggle switch checkbox
input[type=checkbox].switch-lg {
    height: 1.5em;
    width: 2.5em;
}
// select.w-adjust {
//     width: 100%;
// }

.mono-text {
    font-family: Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace;
    color: black;
    font-weight: bold;
}

.inline-code {
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border: 1px solid #BCBEC0;
    padding: 2px;
    background-color: #BCBEC0AA;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

.h6 {
    font-weight: 600;
}


.save-data-val.unused {
    background-color: $bg_unusedprop;
    /* background-color: rgb(179, 205, 230); */
}

.save-data-val.warning {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $bg_warningprop;
    border: 1px solid $bordercolor;
}

.save-data-val {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $bg_usedprop;
    border: 1px solid $bordercolor;
}
.save-data-descr {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    border: 1px solid $bordercolor;
}

.save-data-descr {
    & .d-parent-hover-block, & .d-parent-hover-inline {
        display: none;
    }
}
.save-data-descr:hover {
    & .d-parent-hover-block {
        display: block;
    }
    & .d-parent-hover-inline {
        display: block;
    }
}

/* override accordion header button (and its arrow) styling */
.accordion-button:focus {
    /* box-shadow: none; */
    outline: 0;
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); */
    border: 1px solid $bordercolor;
    /*important beats bootstrap accordion button styling*/
    background-color: color-mix(in srgb, $bg_collapse 90%, black) !important;
}
.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
    /* box-shadow: inherit; */
}
.accordion-button.collapsed {
    color: inherit;
    background-color: inherit;
    /* box-shadow: inherit; */
}
/* .accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */
.accordion-item {
    background-color: transparent;
    border: unset;
}
/* image taken from font awesome 4.x caret-right */
.accordion-button.collapsed::after {
    background-image: url(./imgs/caret-right-solid.png);
    transform: rotate(0deg);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(./imgs/caret-right-solid.png);
    transform: rotate(90deg);
}
.accordion-button::after {
    order: -1;
    margin-left: 0;
    margin-right: 0.25em;
    /* width: 0.59rem; */
    height: 1.3rem;
    background-position: center;
    background-size: contain;
}
.accordion-button {
    padding-left: 0.5rem;
}

.save-data-raw {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    border: 1px solid $bordercolor;
}

.save-data-collapse-bar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /*important beats bootstrap accordion button styling*/
    background-color: $bg_collapse !important;
    color: $defaultblack;
    border: 1px solid $bordercolor;
    font-weight: 500;
}

.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}